:root {
  --carousel-width: 210px;
  --carousel-height: 140px;
  --item-width: 180px;
  --item-height: 230px;
  --carousel-radius: 288px;
  --rotation-duration: 30s;
  --carousel-shadow-color-rgb: 128, 128, 128;
  --carousel-bg-color-rgb: 0, 0, 0;
}

.container-box {
  display: flex;
  flex-direction: row;
}

.heading-box {
  float: right;
  width: 40%;
  position: absolute;
  right: 0%;
  padding-top: 30vh;
}

.container2 {
  width: var(--carousel-width);
  height: var(--carousel-height);
  position: absolute;
  top: 20%;
  left: 30%;
  transform: translate(-50%, -50%);
  perspective: 1100px;
  float: left;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
  animation: rotating var(--rotation-duration) linear infinite;
}

#carousel:hover {
  animation-play-state: paused;
}

#carousel div {
  position: absolute;
  width: var(--item-width);
  height: var(--item-height);
  left: calc(50% - var(--item-width) / 2);
  top: calc(50% - var(--item-height) / 2);
  backface-visibility: visible;
  transform-style: preserve-3d;
}

#carousel div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease, transform 0.3s ease;
  filter: grayscale(100%);
}

#carousel div:hover img {
  filter: grayscale(0%);
  transform: scale(1.075);
}

/* Reflection effect */
#carousel div::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 70%; /* Decreased height to 50% */
  bottom: -100%; /* Adjusted to align with the new height */
  left: 0;
  background-image: var(--_image-url);
  background-size: cover; /* Adjust background size to fit the shortened reflection */
  background-position: center top;
  transform: rotateX(90deg) scaleY(-1) translateZ(var(--item-height));
  filter: blur(5px) grayscale(100%); /* Made black and white by default */
  opacity: 0.5;
  pointer-events: none;
  transform-origin: bottom;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 50%
  ); /* Added fading effect at the top */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 50%
  ); /* For webkit browsers */
  transition: filter 0.3s ease, transform 0.3s ease, opacity 0.3s ease; /* Added transition for smooth color change */
}

#carousel div:hover::before {
  filter: blur(5px) grayscale(0%); /* Remove grayscale on hover */
  /* transform: scaleX(1.075) rotateX(90deg) scaleY(-1.075) translateZ(var(--item-height)); */
  opacity: 0.7;
}

.lamp-img {
  margin-bottom: -100px;
}

.lamp-img img {
  width: 100%;
  height: auto;
}

#carousel div:nth-child(1) {
  transform: rotateY(0deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(2) {
  transform: rotateY(40deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(3) {
  transform: rotateY(80deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(4) {
  transform: rotateY(120deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(5) {
  transform: rotateY(160deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(6) {
  transform: rotateY(200deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(7) {
  transform: rotateY(240deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(8) {
  transform: rotateY(280deg) translateZ(var(--carousel-radius));
}
#carousel div:nth-child(9) {
  transform: rotateY(320deg) translateZ(var(--carousel-radius));
}

.carousel-ground {
  position: absolute;
  width: var(--carousel-width);
  height: var(--carousel-width);
  left: calc(50% - var(--carousel-width) / 2);
  top: calc(50% - var(--carousel-width) / 2);
  transform: rotateX(90deg) translateZ(calc(var(--item-height) / -2));
  border-radius: 50%;
  background: radial-gradient(
    rgba(var(--carousel-shadow-color-rgb), 0.5) 0%,
    rgba(var(--carousel-bg-color-rgb), 0) 80%
  );
}

@keyframes rotating {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

@-webkit-keyframes rotating {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

@-moz-keyframes rotating {
  from {
    -moz-transform: rotateY(0deg);
  }
  to {
    -moz-transform: rotateY(-360deg);
  }
}

@-o-keyframes rotating {
  from {
    -o-transform: rotateY(0deg);
  }
  to {
    -o-transform: rotateY(-360deg);
  }
}

:root {
  --headingSize: 65px;
  --background-color: transparent; /* Changed from black to transparent */
}

.container3 {
  width: 50%;
  font-family: Helvetica;
  color: white;
  position: absolute;
  margin-left: 40%;
  margin-top: 30vh;
  text-align: right;
}

h1 {
  margin: 0;
  letter-spacing: -1px;
  font-size: var(--headingSize);
  font-weight: 500;
  margin-bottom: -6vh;
  top: 100px;
  opacity: 0;
  animation: 0.5s swift-up ease-in-out forwards,
    4.5s fade-in ease-in-out forwards;
}

span {
  display: inline-block;
  overflow: hidden;
  animation: 0.3s swift-up ease-in-out forwards;
}

i {
  font-style: normal;
  position: relative;
  top: var(--headingSize);
  opacity: 0; /* Start with opacity 0 */
  animation: 0.5s swift-up ease-in-out forwards,
    4.5s fade-in ease-in-out forwards;
}

@media screen and (max-width: 1000px) {
  .container {
    width: auto;
    margin: 0 10%;
  }

  :root {
    --headingSize: 35px;
  }
}

.shop-now-btn {
  margin-top: 20vh;
  font-size: 1.4rem;
  font-weight: 600;
  animation: 0.5s swift-up ease-in-out forwards,
    4.5s fade-in ease-in-out forwards, animate 2s infinite;

  padding: 0.6rem 1rem 0rem 1rem;
  border-radius: 4px;
  color: #787777;
  /* border: 1px solid #186F65; */
  text-transform: uppercase;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  -webkit-mask-image: linear-gradient(
    -75deg,
    rgba(255, 255, 255, 0.3) 30%,
    #fff 50%,
    rgba(255, 255, 255, 0.3) 70%
  );
  -webkit-mask-size: 200%;
}

.shop-now-btn:hover {
  color: #186f65;
}

@keyframes animate {
  from {
    -webkit-mask-position: 150%;
  }

  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes swift-up {
  from {
    top: var(--headingSize);
  }
  to {
    top: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
